@use "../../constants/colors.scss" as colors;
@use "../../mixins/responsive.scss" as responsive;

@mixin page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: colors.$dark-primary-background-color;
    width: 95%;
    height: 100vh - (3vh * 2);
    overflow: auto;

    /** Top Right Bottom Left */
    padding: 3vh 0;
}

@mixin element-container($background-color: colors.$dark-secondary-background-color) {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $background-color;
    width: 88%;
    padding: 3%;
    border-radius: 10px;

    &:not(:last-child) {
        /** Top Right Bottom Left */
        margin: 0% 2% 2%;
    }

    &:last-child {
        /** Top Right Bottom Left */
        margin: 0% 2%;
    }
}

@mixin item-container($margin-padding: 1%) {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100% - ($margin-padding * 4);
    border: 2px solid colors.$dark-tertiary-background-color;
    border-radius: 5px;
    padding: $margin-padding;

    &:last-child {
        /** Top Right Bottom Left */
        margin: $margin-padding $margin-padding $margin-padding $margin-padding;
    }

    &:not(:last-child) {
        /** Top Right Bottom Left */
        margin: $margin-padding $margin-padding 0% $margin-padding;
    }
}

@mixin general-label($font-size: 15px) {
    font-size: $font-size;
    color: colors.$dark-secondary-text-color;
    background-color: transparent;

    /** Top Right Bottom Left */
    margin: 1%;
}

@mixin general-text-input {
    color: colors.$dark-primary-text-color;
    background-color: colors.$dark-secondary-background-color;
    border: 2px solid colors.$dark-tertiary-background-color;
    border-radius: 3px;
    width: 95%;
    margin: 5px;

    &:focus {
        border: 2px solid colors.$dark-highlighted-border-color;
    }

    &::-webkit-inner-spin-button,
    ::-webkit-outer-spin-button {
        display: none;
        margin: 0;
    }
}

@mixin general-textarea {
    color: colors.$dark-primary-text-color;
    background-color: colors.$dark-secondary-background-color;
    border: 2px solid colors.$dark-tertiary-background-color;
    border-radius: 3px;
    width: 95%;
    margin: 5px;
    resize: vertical;

    &:focus {
        border: 2px solid colors.$dark-highlighted-border-color;
    }
}

@mixin general-button {
    background-color: colors.$dark-secondary-background-color;
    color: colors.$dark-primary-text-color;
    border-radius: 10px;
    border: 2px solid colors.$dark-tertiary-background-color;

    @include responsive.height-is(small) {
        &:last-child {
            /** Top Right Bottom Left */
            margin: 4vh auto;
        }

        &:not(:last-child) {
            /** Top Right Bottom Left */
            margin: 4vh auto 0;
        }
    }

    @include responsive.height-is(medium) {
        &:last-child {
            /** Top Right Bottom Left */
            margin: 3vh auto;
        }

        &:not(:last-child) {
            /** Top Right Bottom Left */
            margin: 3vh auto 0;
        }
    }

    @include responsive.height-is(large) {
        &:last-child {
            /** Top Right Bottom Left */
            margin: 2vh auto;
        }

        &:not(:last-child) {
            /** Top Right Bottom Left */
            margin: 2vh auto 0;
        }
    }

    &:focus {
        border: 2px solid colors.$dark-highlighted-border-color;
    }

    &:hover {
        background-color: colors.$dark-primary-background-color;
    }
}

@mixin general-divider {
    width: 100%;
    border-top: 2px solid colors.$dark-tertiary-background-color;
    border-bottom: none;
    border-left: none;
    border-right: none;
}

@mixin general-dropdown {
    color: colors.$dark-primary-text-color;
    background-color: colors.$dark-secondary-background-color;
    border: 2px solid colors.$dark-tertiary-background-color;
    border-radius: 3px;
    width: 95%;
    margin: 5px;

    &:focus {
        border: 2px solid colors.$dark-highlighted-border-color;
    }
}
